.footer {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
    position: absolute;
    bottom:0;
    width:100%;
}

.footer span {
    color: white;
}

.footer img {
    margin-left: 0.5em;
}

@media(max-width: 600px) {
    .footer {
        position: fixed;
    }
}